.formContainer {
  height: 50%;
  display: grid;
  width: 50%;
  background: #1f1f2e;
  margin: 10% auto;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 15px;
  color: white;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.015em;
}
.titleLogin {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 10px;
  margin-top: 50px;
}
.textLogin {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 1%;
  padding-top: 0;
}
.inputLogin {
  width: 90%;
  height: 57px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-left: 10px;
  margin: 5px;
}
.buttonLogin {
  margin-top: 5%;
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
  background: #47d366;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.015em;
}
.buttonLogin:hover {
  color: #47d366;
  background: #fff;
  transition: 0.5s;
}
@media only screen and (max-width: 600px) {
  .formContainer {
    height: 100%;
    display: block;
    width: 95%;
    margin: 10% auto;
  }
  .inputLogin {
    width: 80%;
    height: 57px;
    margin: 5px;
  }
  .buttonLogin {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 85%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 58px;
  }
}
@media only screen and (min-width: 1280px) {
  .formContainer {
    width: 25%;
  }
}
